.App {
  text-align: center;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}

.Nav-logo {
  height: 20vmin;
  max-width: 1000px;
  margin-top: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #61dafb; */
  color: #B9FF00;
  text-decoration: none;
}

.App-link:hover {
     color: white; 
     text-decoration: none; 
     cursor: pointer;  
}

.Menu-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Menu-img {
  height: 20vmin;
  max-width: 1000px;
}

.uk-navbar-nav>li.uk-active>a {
  color: white;
}